/* Custom overrides for Architect theme */

.post-header,
.post-title,
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  background: none !important;
  background-color: transparent !important;
  padding: 0 !important;
  color: #333 !important;
}
