---
---

@import "{{ site.theme }}";

.post-header {
  background: none !important;
  background-color: transparent !important;
  padding: 0 !important;
}

.post-title {
  background: none !important;
  color: #333;
}

.post-content {
  h1, h2, h3, h4, h5, h6 {
    background: none !important;
    background-color: transparent !important;
    padding: 0 !important;
    color: #333;
  }
}
